@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.background-ad{
    background: url(../img/slider-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(circle, #cfaa5c, transparent);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #cfaa5c, transparent);
    overflow: hidden;
}

h3 {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: #cfaa5c;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}
.color-gold {
    /* color: #1e077d; */
    background-color: #cfaa5c !important;
    color: white;
}

.color-back {
    background-color: #e8d3a6 !important;
    color: black;
}

.btn-custom {
    width: 35%;
}